/* CUSTOM STYLES */

/*.navbar-clean {
  background-color: #ffffff;
  border-color:  #ffffff;
}*/


//Variables


@bs-media-xs: ~"only screen and (max-width:767px)";

@bs-media-sm-and-above: ~"only screen and (min-width:768px)";
@bs-media-sm: ~"only screen and (min-width:768px) and (max-width:991px)";
@bs-media-sm-and-below: ~"only screen and (max-width:991px)";

@bs-media-md-and-above: ~"only screen and (min-width:99spx)";
@bs-media-md: ~"only screen and (min-width:992px) and (max-width:1199px)";
@bs-media-md-and-below: ~"only screen and (max-width:1199px)";

@bs-media-lg: ~"only screen and (min-width:1200px)";



@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}


.content-padding {
  padding: 50px 0px;
}


.fixed {
    position: fixed;
}


.text-center-xs {
  @media @bs-media-xs {  
        .text-center;
  }
}

.text-left-xs {
  @media @bs-media-xs {  
        .text-left;
  }
} 

.center-block-xs {
  @media @bs-media-xs {  
        .center-block;
  }
}


.center-block-md {
  @media @bs-media-md {  
        .center-block;
  }
} 
*

.fixed-sm-above {
  @media @bs-media-sm-and-above {
    .fixed;
}
}





/* IDEA FOR SPECIFITY
col-med-1.col-fixed {
    position: fixed! important;
}
*/
